body{
font-family: 'Josefin Sans', sans-serif;
font-size: 15px;
background-color: #FFFFFF;
color: #B5B5B5;
}

header{
font-family: 'Lobster', cursive;
font-size: 20px;
color: #B5B5B5;
text-align: left;
background-image : url('images/bg-header-02.jpg');
background-repeat: no-repeat;
background-position: top center;
background-size: cover;
min-height: 100vh;
display: flex;
justify-content: right;
align-items: left;
}

h1{
font-family: 'Lobster', cursive;
text-align: right;
font-size: 5em;
color: #FFFFFF;
}

h2{
font-family: 'Lobster', cursive;
text-align: center;
font-size: 2em;
margin : 30px;
}

h3{
  text-align: center;
  margin: 15px;
}

h4{
  text-align: center;
  margin: 15px;
}

.section-content {
  display: flex;
  justify-content: space-around;
}

#competences {

}

.comp-content{
  max-width: 480px;
    background-color:#FFFFFF;
    margin : 19px;

  }

.comp-content img {
  width: 100%;
}

.section-portfolio {
  display: flex;
  justify-content: space-around;
}

#portfolio {
  }

.portfolio-content{
  max-width: 480px;
    background-color:#FFFFFF;
    margin : 20px;
  }


  .contact-content{
    display:inline-block;
    justify-content:space-between;
    justify-content: center;
   }

img{border:1px solid #f4987B;
border-radius: 4px;
padding: 5px;
width: 150px;}

img: hover{
  box-shadow: 0 0 2px 1px rgba(0,140,186,0.5);}
